.login-wrapper {
    width: 600px;
    margin: 50px auto 0;
}

.login-wrapper .signup-btn,
.login-wrapper .login-btn {
    text-align: center;
    font-size: 14px;
    color: #2980b9;
    cursor: pointer;
    width: 300px;
    margin: 20px auto 0;
}

.login-wrapper .auth-error-msg {
    color: #e74c3c;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.home-title {
    font-size: 40px;
    margin-top: 100px;
}
